html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.btn-brown {
    background-color: #423f32; /* Brown color */
    color: #f9f7f4; /* White text */
    font-family: "Funnel Sans", serif;
    font-weight: 300;
}

    .btn-brown:hover {
        background-color: #5e3f28; /* Darker brown on hover */
        color: #f9f7f4;
    }

.bg-light {
    background-color: #f1ebe5; /* Light brown color */
}
#registerSubmit {
    border-radius: 30px; /* Adjust the value to make the button more/less rounded */
}

.navbar {
    /*margin-bottom: 0;*/ /* Removes any bottom margin */
    /*padding-top: 0;*/ /* Removes any top padding */
   /* padding-bottom: 0;*/ /* Removes any bottom padding */
}

.custom-container {
    margin-top: -50px; /* Adjust this value to fine-tune the spacing */
}

.font-style {
   
    font-family: "Funnel Sans", serif;
    font-weight: 300;
}