

@{
    ViewData["Title"] = "Order Placed";
}
<div class="container text-center" style="margin-top: 100px;">
    <h2 class="order-font">Order Placed Successfully!</h2>
    <p class="
order-font">Your order has been successfully placed. Thank you for shopping with us!</p>
    <a href="@Url.Action("AvailableProducts", "Products")" class="btn btn-primary btn-brown">Return to Home</a>
</div>