@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center" style="margin-top: 100px;">
    <h2>Order Placed Successfully!</h2>
    <p>Your order has been successfully placed. Thank you for shopping with us!</p>
    <a href="@Url.Action("AvailableProducts", "Products")" class="btn btn-primary">Return to Home</a>
</div>