<!--https://www.reddit.com/r/csharp/comments/cb15z6/how_do_you_centralized_connection_strings/?rdt=33085-->
<!--https://salimbenhadou.wordpress.com/2016/11/06/centralize-and-share-connection-strings-among-multiple-projects/!-->
<connectionStrings>
	<add name="GourmetShopConnectionString" connectionString="" providerName="System.Data.SqlClient" />
</connectionStrings>